<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">NG-FRONT</h5>
  <app-menu [auth]="1"></app-menu>
</div>

<main role="main">
  <div class="container">
    <h2>Users</h2>
    <p>This is all users.</p>

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td><a routerLink="/users/{{user.id}}">View details</a></td>
      </tr>
      </tbody>
    </table>

  </div>
</main>
