<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">NG-FRONT</h5>
    <app-menu [auth]="1"></app-menu>
</div>

<main role="main">
    <div class="container">
        <h2>Profile</h2>
        <p>This is your profile info.</p>
        <div class="alert alert-success" *ngIf="message">{{message}}</div>
        <div *ngIf="errorMessages.length > 0">
            <div class="alert alert-danger">
                <div *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form class="profile-form" (ngSubmit)="update()" #profileForm="ngForm">
                    <div>
                        <div class="form-group">
                            <input type="text" name="name" [(ngModel)]="requestData.name" placeholder="First Name"
                                   class="form-control"
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" [(ngModel)]="requestData.last_name"
                                   placeholder="Last Name"
                                   class="form-control"
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" [(ngModel)]="requestData.email" placeholder="Email"
                                   class="form-control"
                                   required/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" [(ngModel)]="requestData.password"
                                   placeholder="New Password"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password_confirmation"
                                   [(ngModel)]="requestData.password_confirmation"
                                   placeholder="Confirm Password" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit"
                                    [disabled]="!profileForm.form.valid">Update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="profile-image-form" (ngSubmit)="updateProfileImage()" #profileImageForm="ngForm">
                    <div>
                        <div class="form-group">
                            <img [src]="formData.current_image" class="img-thumbnail" width="200px" height="200px"/>
                        </div>
                        <div class="form-group">
                            <input type="file" name="profile_image" (change)="onFileChanged($event)"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit"
                                    [disabled]="!profileImageForm.form.valid">Update profile image
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>